files:
    /var/www/worker_script.sh:
        mode: "000755"
        owner: root
        content: |
            #!/bin/sh
            cd /var/www/html && export $(cat /opt/elasticbeanstalk/deployment/env) && php artisan queue:work

    /opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf:
        content: /var/app/current/storage/logs/laravel.log
        group: root
        mode: "000775"
        owner: root
    /etc/systemd/system/laravel_worker.service:
        mode: "000755"
        owner: root
        group: root
        content: |
            [Unit]
            Description=Laravel queue worker

            [Service]
            Restart=always
            ExecStart=/usr/bin/nohup /var/www/worker_script.sh

            [Install]
            WantedBy=multi-user.target

container_commands:
    remove_html_directory:
        command: "rm -rf /var/www/html/*"
    create_symbolic_link:
        command: "ln -s /var/app/current /var/www/html"
    enable_laravel_worker_service:
        command: "systemctl enable laravel_worker.service"
    restart_laravel_worker_service:
        command: "systemctl restart laravel_worker.service"
